body {
  padding: 10px 10px;
  font-family: sans-serif;
}

.header {
  width: fit-content;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1 {
  font-size: 40px;
  font-style: normal;
}

.header h3 {
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
}


#key{
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.key-name {
  border: 5px solid black;
  grid-column: 1 / -1;
  margin: 5px 10px;
}

.key-name h1 {
  font-size: 70px;
  font-weight: bold;
}

.key-props-container {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px auto;
  align-items: stretch;
  justify-content: flex-start;
}

.key-props {
  margin: 5px 10px;
  border: 5px solid black;
  height: 250px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.key-props-name {
  padding: 10px 0px;
}

.key-props-name strong {
  margin: auto auto;
  font-size: 20px;
}
.key-props-value {
  font-size: 70px;
  margin: auto auto;
}

